<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <!--Test Server-->
    <add name="DBContainer" connectionString="ka7ocMA8nEYPjbQYUlVwbsmTeIdxKGE+ZfXAu3/0eMhVRP+iN+9ECpY/lItoY9vfZVDA9EVgmMzH/8Z0rxRIhGPRhVMFWliBuJ9RDGtHbqRY02voyLbrZ7IiXRnXyhlLFsvgj23KXnHl8J6jxB1QNvVMrV1dNccekXekXQSDSxwyogN1Tre7KRWYKD0MrkDJzkrwCxmjGtLO53k8JNZ4HcW5/qPCkruaLjmnvfuylCreffvwEGB64TYSROtl9Qa0IV+kjhKWre7cIc39SiQS502Z4jT9IJ8zqleit7hyYG1GLilN6ZvkrwwJDDR9QRfxtyjSsVDffEdZaLmLdYWzkA==" providerName="System.Data.EntityClient" />
    <add name="QuartzConnectionString" connectionString="sbkt0w05TRQihIh5aZ1GahWBvff7ba2vbmhPnCkorfM5VRaD52tLJ0y4rITcf3j56gANQ94lCejz2AUWlqHZfrlaTanpIw8BDbwJTBL7WMFW/3YXWhzyR2SmuhDXr8544KCHdqZmIfJlM5OTEyXqmD5SvBRXdQIBELzhDztghRc=" />
    <!--local-->
    <!--<add name="DBContainer" connectionString="ka7ocMA8nEYPjbQYUlVwbsmTeIdxKGE+ZfXAu3/0eMhVRP+iN+9ECpY/lItoY9vfZVDA9EVgmMzH/8Z0rxRIhGPRhVMFWliBuJ9RDGtHbqRY02voyLbrZ7IiXRnXyhlLFsvgj23KXnHl8J6jxB1QNv/nnpKrcdq1Iggspf/Zf8x//OT+uKqhVC1qUqVzdY+XE5IvTbjlgbBhPjosW2lqCHeljlppJusp7p1DSSYkm4kv9BR23zftz03y2H47ExwYchkj653SfHUIaTH929RG9WA5YyDXz8kgDMIFFbsY+wmNdzckmJmNnfy9W0UZVMlo3/z5ecTdEpfsBsmaSg14wQ==" providerName="System.Data.EntityClient" />
    <add name="QuartzConnectionString" connectionString="xC2Dc54Trjk9VdxNrHYITP8K0SGlwLDL+HjW711W3B/d0IWH+xjg6XGrh3roRxaO/zBsOBDFgDyHuITyq45aga59RqlhwlOfQMcBQkXheBW4aOaF1Uj+lD/QYWiyGRtFzWw3bFKydBWhyqGN88jdaA==" />-->
  </connectionStrings>
  <appSettings>
     <!-- 微信配置1.中转服务器修改和新建公众号会自动配置此节 2.一般作为资源的地址，如文章 -->
    <add key="WebChatApiUrl" value="http://域名/WC/WeChat/?id=" />
    <add key="SiteUrl" value="http://域名" />
    <!--不过滤的列表;隔开-->
    <add key="NoFilterUrl" value="Form/SaveLayout" />
    
    <add key="Configpath" value="~/Core/site.config" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Configure Thread Pool -->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <!-- Configure Job Store -->
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <add key="quartz.jobStore.useProperties" value="true" />
    <add key="quartz.jobStore.dataSource" value="default" />
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz" />
    <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz" />
    <add key="quartz.dataSource.default.provider" value="SqlServer-20" />
    <!--微信-->
    <add key="WX_APP_ID" value="wxcb3c9aff4036af81" />
    <add key="WX_APP_SECRET" value="21623de758b1d227986959c11e162798" />
    <!--微信消息模板常量-->
    <!--订单支付提醒-->
    <add key="WX_PUSH_ONE" value="6CjSI45PHz_03Mv6bMRwlmxne0SZ1G0Gy9t3OGHTthg" />
    <!--预约到期提醒-->
    <add key="WX_PUSH_TWO" value="R4vUHldHjuz3Es8_3BMG27cEyD6mynPIcJYVquccFtk" />
    <!--订单状态提醒-->
    <add key="WX_PUSH_THREE" value="zXfcdFUwwh2WJz0gpblnI75i3yAJypM6JMvsxXBugtg" />
    <!--项目路径-->
    <add key="Pro_Path" value="http://www.dlqhsw.com:8001" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <modules>
      <add name="CultureAwareHttpModule" type="Apps.Web.Core.CultureAwareHttpModule,Apps.Web" />
    </modules>
    <!--指定安全扩展名，防止出现IIS无法加载-->
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--Quartz节点需保留，否则导致无法执行任务-->
  <quartz />
</configuration>